@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*-------------------Root---------------------*/
:root{
	--color-primary:#7380ec;
	--color-danger:#ff7782;
	--color-success:#41f1b6;
	--color-warning:#ffbb55;
	--color-white:#fff;
	--color-info-dark:#7d8da1;
	--color-info-light:#dce1eb;
	--color-dark:#363949;
	--color-light:rgba(132, 139, 200, 0.18);
	--color-primary-variant:#111e88;
	--color-dark-variant:#677483;
	--color-background:#f6f6f9;


	--card-border-radius:2rem;
	--border-radius-1:0.4rem;
	--border-radius-2:0.8rem;
	--border-radius-3:1.2rem;   

	--card-padding:1.8rem;
	--padding: 1.2rem;

	--box-shadow: 0 2rem 3rem var(--color-light);
}

*{
	margin: 0;
	padding:0;
	outline: 0;
	appearance:0;
	border: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

@font-face {
	font-family: pop;
	src: url(./fonts/Poppins-Medium.ttf);
}

html{
	font-size: 14px;
}

body{
	width: 100vw;
	height: 100vh;
	font-family: poppins, sans-serif;
	font-size: 0.88rem;
	background: var(--color-background);
	user-select: none;
	overflow-x: hidden;
	color: var(--color-dark);
}

.container{
	display: flex;
	width: 100%;
	height: auto;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	gap: 1.8rem;
	grid-template-columns: 14rem auto 23rem;
	flex-wrap: wrap;
}

a{
	color: var(--color-dark);
}

img{
	display: block;
	width: 100%
}

h1{
	font-weight: 800;
	font-size: 1.8rem;
}
h2{
	font-size: 1.4rem;
}
h3{
	font-size: 0.87rem;
}

small{
	font-size: 0.88rem;
}

.profile-photo{
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
}
.text-muted{
	color: var(--color-info-dark);
}

p{
	color: var(--color-dark-variant);
}

b{
	color: var(--color-dark);
}

.primary{
	color: var(--color-primary);
}
.success{
	color: var(--color-success);
}
.danger{
	color: var(--color-danger);
}
.warning{
	color: var(--color-warning);
}

aside{
	height: 100vh;
	margin-left:-100px;
	width:200px;
}

aside .logo{
	background:white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1.4rem;
}
aside .logo{
	display: flex;
	gap:0.8rem;
}

aside .logo img{
	width: 2rem;
	height: 2rem;
}

aside .close{
	display: none;
}

aside .sidebar{
	background: white;
	display: flex;
	flex-direction: column;
	height: 86%;
	position: relative;
	top: 3rem;
}

aside h3{
	font-weight: 500;
}

aside .sidebar a{
	display: flex;
	color: var(--color-info-dark);
	margin-left: 2rem;
	gap:1rem;
	position: relative;
	align-items: center;
	height: 3.7rem;
	transition: all 300ms ease;
}

aside .sidebar a span{
	font-size: 1.6rem;
	transition: all 300ms ease;
}



aside .sidebar a.active{
	background: var(--color-light);
	color: var(--color-primary);
	margin-left: 0;
}

aside .sidebar a.active:before {
	content: '';
	width: 6px;
	height: 100%;
	background: var(--color-primary);
}

aside .sidebar a.active span{
	color: var(--color-primary);
	margin-left: calc(1rem-3px);
}

aside .sidebar a:hover{
	color: var(--color-primary);
}

aside .sidebar a:hover span{
	margin-left: 1rem;
}
/*-------------------end of aside-------------------*/

main{
	margin-top: 1.4rm;
	margin-button:20px;
}


main .insights{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	margin-button:15px;
}

main .insights > div{
	background: var(--color-white);
	padding: var(--card-padding);
	border-radius: var(--card-border-radius);
	margin-top: 1rem;
	box-shadow: var(--box-shadow);
	transition: all 300ms ease;

}
main .insights > div:hover{
	box-shadow: none;
}

main .insights > div span{
	background: var(--color-primary);
	padding: 0.5rem;
	border-radius: 50%;
	color: var(--color-white);
	font-size: 2rem;

}

main .insights > div.expensis span{
	background: var(--color-danger);
}

main .insights > div.income span{
	background: var(--color-success);
}

main .insights h3{
	margin: 1rem 0 0.6rem;
	font-size: 1rem;
}

/*-----------------------------end of insights-----------------*/

/* ------------------------card----------------------------*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main{
	width: 100%;
	height: auto;
	display:flex ;
	flex-direction: column;
	align-items: center; 
 	/* justify-content: center; */
	font-family: pop;
	padding: 50px;
}
.main .heading{
	font-size: 25px;
	margin-bottom: 80px;
	position: relative;
}
.heading span{
	color: rgb(0, 81, 255);
}
.heading::after{
	content: " ";
	position: absolute;
	width: 60%;
	height: 3px;
	left: 50%;
	transform: translateX(-50%);
	bottom: -5px;
	background-color: rgb(0, 81, 255);
} 
/* .container{
	width: 200%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
} */
/* .container*/.card{  
	width: 230px;
	height: 350px;
	position: relative;
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
	margin:auto;
	text-align: center;
	outline: 1px solid #00000077;

} 
.card::after{
	content: " ";
	width: 100%;
	height: 40%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 81, 255, 0.864);
}
.card img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: fit;
	transition: .6s;
	box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.37);
	z-index: 99;
}
.card:hover img{
	transform: scale(.50) translateY(-120px);
	border-radius: 10px;
}
.card .details{
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 40px;
	transform: translateY(100%);
	transition: .6s;
}
.card:hover .details{
	transform: translateY(0);
}
.details h3{
	font-size: 22px;
	color: rgb(0, 81, 255);
}
.details p{
	font-size: 15px;
	color: #333;
	margin-bottom: 7px;
}
/* .details .social-links{
	display: flex;
}
.details .social-links a{
	width: 30px;
	height: 30px;
	margin: 0 5px;
	border-radius: 50%;
	color: #333;
	background-color: rgb(182, 182, 182);
	text-decoration: none;
	transition: .6s;
	display: grid;
	place-items: center;
	font-size: 17px;
}
.details .social-links a:hover{
	transform: rotate(360deg);
	background-color: rgb(0, 81, 255);
	color: #fff;
} */


/* -----------  card ----------------
.featured-products
{
  width: 100%;
  min-height: 600px;
}
.featured-products .container
{
  text-align: center;
}

.featured-products h2,
.news-blogs h2,
.new-arrivals h2,
.testimonials h2
{
  padding: 0 20px 0 20px;
  color: var(--primary);
  border-bottom: 4px solid var(--primary);
  display: inline-block;
}
.for-margin
{
  margin-bottom: 20px;
  margin-top: 20px;
} */


/* -----------------product detail-------------- */
.small-container
{
    max-width: 1000px;
    padding-right: 20px;
    margin: auto;
    text-align: left;
}
.product-row
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* .small-image-row
{
    display: flex;
    justify-content: space-around;
} */
.column-2 img{
    max-width: 100%;
    padding: 50px 0;
}
/* .small-image-column
{
    flex-basis: 24%;
    cursor: pointer;
} */
.single-product .column-2 img
{
    padding:0;
}
.single-product .column-2
{
    padding: 20px;
}
.column-2
{
    flex-basis: 50%;
    min-width: 300px;
}
.column-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
}
/* .column-2 select
{
    display: block;
    margin-top: 20px;
    padding:10px;
} */
.column-2 h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
/* .column-2 input
{
    width: 60px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border:1px solid tomato;
} */
/* .column-2 input:focus
{
    outline: none;
} */
.column-2 a
{
    text-decoration: none;
    color: #ffffff;
}
.column-2 h3
{
    padding-top: 10px;
}
/* .column p{
    color: #666666;
} */

/* ------------ alphabet filter in home.html ----------*/
.alphaFilter a{
	padding:8px;
	background-color: #CDCFCC;
	margin:2px;
	border-radius: 50%;
}
.alphaFilter{
	display: flex;
	align-items: center;
	justify-content: center;
}
.alphaFilter a:hover{
	text-decoration: underline;
	color:var(--color-primary)
}
