{% extends "base.html"%}

{%load static%}
<head>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/home.css' %}">
  </head>
{% block title%}Home{%endblock%}

{%block content%}
<br>
<a href = "{% url 'books:recommendation'  %}" > BOOK_Recommend</a>
<div class="alphaFilter">
  {% for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'|make_list %}

    <a href="{% url 'books:filter' i %}" >{{ i }}</a>
 {% endfor %}

</div>

<div class="main">
  <h3 class="heading"><span>All  </span>Books</h3>
  {%include './card.html'%}
</div>

{%endblock%} 