{% extends "base.html"%}

{%load static%}
 <head>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/home.css' %}">
  </head>
{% block title%}Home{%endblock%}

{%block content%}
<main>
    {% comment %} <div class="album py-5 bg-light"> {% endcomment %}
      <div class="container">
  
        <div class="pb-3 h5">All Books</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
          <a href = "{% url 'books:add_book'%}">Add Books</a>

          {% for b in book %}

        		<div class="card">
            <a class='card-link' href="">
                    <img src="{{b.image.url}}" alt="Responsive image" />
            <div class="card-body">

                    <div class="card-title">
                            {{b.title}}
                    </div>
                    <h3 style="font-size:20px;">{{b.author}}</h3>

                    <h4 class='price'>{{b.publisher}}</h4>
                    </div>
                 </a>
					<div class='button-wrapper'>
						 <span class="material-symbols-sharp">star</span>
						 <span class="material-symbols-sharp">star</span>
						 <span class="material-symbols-sharp">star</span>
						 <span class="material-symbols-sharp">star</span>
						 <span class="material-symbols-sharp">star</span>
					</div>


    		 </div>

          {% endfor %}
  
        </div>
      </div>
    {% comment %} </div> {% endcomment %}
  
  
  </main>

  <!--page number-->
  {% comment %} <nav aria-label="...">
    <ul class="pagination ">
      {% if page_obj.has_previous %}
      <li class="page-item ">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1">Previous</a>
      </li>
      {% endif %}

      <li class="page-item"><a class="page-link" href="">Page: {{ page_obj.number }}</a></li>
      
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        <!-- <a class="page-link" href="?page={{ page_obj.paginator.num_page }}">Last &raquo;</a> -->
      </li>
      {%endif%}
    </ul>
  </nav> {% endcomment %}

{%endblock%} 